
    <mat-card>
        <h1>Content Upload</h1>{{cType}}
        <form [formGroup]="form" autocomplete="off"  (ngSubmit)="onSubmit()"
        fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-content>       
            <p>
            <mat-form-field appearance="fill">
                <mat-label>Content Type</mat-label>
                <mat-select  name="contentId" formControlName="contentId">
                  <mat-option *ngFor="let contentType of contentTypes" [value]="contentType.contentId">
                    {{contentType.contentName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Content Provider</mat-label>
                <mat-select  name="cpId" formControlName="cpId">
                  <mat-option *ngFor="let contentProvider of contentProviders" [value]="contentProvider.cpId">
                    {{contentProvider.cpName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <div class="form-group">                                   
                <input type="file" formControlName="zipFile" accept=".zip" (change)="onFileChanged($event)" class="form-control file " >            
            </div>
            <p class="upload">
                <button type="submit"  mat-raised-button  color="primary">Upload</button>
            </p>
          
        </mat-card-content>
      

    </form>
      </mat-card>