<form  id="search-form">
    <div class="data-cttype">
        <div class="data-label">Content Type</div>
        <div class="data-select">
            <select name="cctype" data-ng-model="cctype" class="data-fix" >
                <option data-ng-repeat="contentType in contentTypes" value="{{contentType.contentId}}">{{contentType.contentName}}</option>
            </select>
        </div>
    </div>
    
    <div class="data-file">
        <div class="data-label">Upload File</div>
        <div class="data-file-sub">
            <input type = "file" name="file" id="file" data-file-model = "file" class="data-fix"/>
        </div>
    </div>
    <input type="hidden" name="folder" id="folder" data-file-model = "folder" value="<%="action"%>">
    <div class="data-button">
        <button data-ng-click="getDataFromServer()" >Upload</button> 
    </div>
    <div class="suc_msg" data-ng-bind="success"></div>
    </form>